<%- include("header") -%>
<div style="background-color: chocolate; height: 200px; border-radius: 0px 0px 0px 1000px;">
<img src="object.png" alt="Registration" width="500" height="500" style="position: relative; left: 300px; top: 140px;">
 </div>   
   <form action="/check" method="POST">
       <span style="position: relative; left: 550px; top: 150px;">
        <button name="check" value="shopKeeper" style="border-radius: 25px; position: relative; right: 300px; bottom: 50px;">
               <h3>Shop Keeper</h3>
        </button>
        <button name="check" value="customer"  style="border-radius: 25px; position: relative; right: 300px; bottom: 50px;">
            <h3 style="text-align: center;">Customers</h3>
        </button>
        </span>
    </form>
<%- include("footer") -%>