<%- include("header") -%>
<div style="text-align: center; background-color: coral; height: 300px; overflow: hidden;">
 <img src="Bg.png" alt="first image">
 <h1 style="text-align: left; margin-left: 20px; margin-top: 150px;">HURRY!</h1>
 <h3 style="text-align: left; margin-left: 20px; margin-bottom: 20px;">HUNGER DON'T WAIT</h3>
</div>
<form style="text-align: center;" action="/main" method="POST">
    <div style=" margin: 20px;"><button style=" border-radius: 25px; background-color: coral;"><div>GET STARTED</div><div>Avail Best Offers & Discounts Only For You</div></button></div>
<div style=" margin: 20px;"><button style="border-radius: 25px;">Countinue Without Login</button></div>
<div style=" margin: 20px;"><button style=" border-radius: 25px;">Already a Tiffina Member? <h6 style="margin-top: 0px;">LOGIN</h6></button></div>
</form>
<%- include("footer") -%>