<%- include("header") -%>
<div style="margin-bottom: 150px; height: 300px; text-align: center; background-color: chocolate; width: 1900px;">
    <img src="object.png" style="position: relative; top: 100px;" alt="Shop Keeper Registration">
    <h1 style="position: relative; top: 200px;">Registration Form For Shop Keeper</h1>
</div>
<div>
    <form action="/shopKeeperRegistration" method="POST">
       <div style="position: relative; left: 740px;"><input type="number" name="phoneNumber">
        <input type="password" name="password"></form></div>
        <div style="position: relative; left: 890px; top: 30px;"><button type="submit" style="border-radius: 25px;">Submit</button></div>
    </form>
</div>
<%- include("footer") -%>